  
<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head th:replace="comunes/comunes :: head"></head>

<div th:insert="~{comunes/comunes :: scripts}"></div>
<div th:replace="comunes/comunes :: navbar"></div>
<body> 	
     <section class="bg-secondary p-5">
        <div class="container">
          <div th:insert="~{comunes/comunes :: pagination}"></div>
            <div class="row g-4"  th:fragment="list">
              <!-- card -->
                  <div class="col-md-6 col-lg-3" th:each="item: ${page.getContent()}">
                    <div class="card">
                         <img class="card-img-top" th:src="@{'/img/' + ${item.img_url}}"  alt="" >
                          <div class="card-body text-center"> 
                            <h5 class="card-title mb-3" th:text="${item.getTitulo()}"></h5>
                            <h5 class="card-text" th:text="${item.getPrecio()}"> EUR</h5>
                             <button class="btn btn-secondary" type="submit" name="anade" th:value="${item.getId()}">Reserva</button>
                            </div>
                        </div>   
                   </div>  
              </div>
        </div> 
    </section>                	
			<footer th:insert="~{comunes/comunes :: footer}"></footer>
		</body>
</html>