<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head th:replace="comunes/comunes :: head"></head>

<div th:insert="~{comunes/comunes :: scripts}"></div>
<div th:replace="comunes/comunes :: navbar"></div>
<body> 	
     <section class=" p-5">
        <div class="container">
          <div th:insert="~{comunes/comunes :: pagination}"></div>
            <div class="row g-4"  th:fragment="list">
              <!-- card -->
                  <div class="col-md-6 col-lg-3 " th:each="item: ${page.getContent()}">
                    <div class="card h-100  shadow">
                        <img class="card-img-top"  th:src="@{'/img/' + ${item.img_url}}"  alt="Imagines" style="height: 12rem;">
                          <div class="card-body">
                          <!--  -->
							<div class="row justify-content-center">
							<div class="col-6">
								   <p class="card-title mt-1 text-uppercase text-secondary" th:text="${item.getTitulo()}"></p>
								</div>
								<div class="col-6 ">
								  <i class="bi bi-credit-card h4" style="color: #198754"></i><span class="fw-bold ms-2" th:text="${item.getPrecio()}" style="color: #198754"></span>
								</div>
							</div>
						
                              <p class="card-text fst-italic" th:text="${item.getDescripcion()}"></p>
                              <form th:action="@{/pre-presupuesto/anade}" method="post">
                                <button  class="btn btn-secondary" type="submit" name="anade" th:value="${item.getId()}">Reserva</button>
                              </form>  
                            </div>
                        </div>   
                   </div>  
              </div>
            </div> 
         </section>            	
	<footer th:insert="~{comunes/comunes :: footer}"></footer>
  </body>
</html>