<!DOCTYPE html>
<html lang="en" xmlns:th = "http://www.thymeleaf.org" >
<head th:replace="comunes/comunes :: head">
<body>
  <main class="p-5 align-content-center">
        <div class="starter-template">
            <h1 th:text=" ${#response.getStatus()}"></h1>
            <a th:href="@{/home}" class="fw-bold" style="text-decoration:none; color:#6f42c1;">Pagina principal</a>
            <img class="card-img-top" th:src="@{'/img/empty.svg'}"  alt="error" >
        </div>
    </main>
    <footer th:insert="~{comunes/comunes :: footer}"></footer>  
</body>
</html>