<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head th:replace="comunes/comunes :: head"></head>
<div th:insert="~{comunes/comunes :: scripts}"></div>
<div th:replace="comunes/comunes :: navbar"></div>
<body>
	<main id="politica" class="p-5">
		<div class="container">
			<div class="row align-items-center justify-content-between">
				<div class="col-md">
					<h4 style="text-decoration: none; color: green">Gracias por su
						solicitud! En breve nos comunicamos con usted</h4>
					<a th:href="@{/home}" style="text-decoration: none; color: green">Explore
						nuestra pagina</a>
				</div>
				<div class="col-md p-5  bg-light">
					<img class="card-img-top w-75" th:src="@{'/img/cartvacio.svg'}"
						alt="">
				</div>
			</div>
		</div>
	</main>
	<footer th:insert="~{comunes/comunes :: footer}"></footer>  
</body>
</html>