<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head th:replace="comunes/comunes :: head"></head>
<div th:insert="~{comunes/comunes :: scripts}"></div>
<div th:replace="comunes/comunes :: navbar"></div>
<body>
 
    <main class="container my-5 vh-100  align-content-center">
      <article class="container mt-4 pb-2">
          <h2>Gracias por Su Reserva! En breve nos comunicamos con usted</h2>
           <a th:href="@{/home}">Explore nuestra pagina</a>
            <img class="card-img-top w-50" th:src="@{'/img/cartvacio.svg'}"  alt="" >
      </article>
       
    </main>

<footer th:insert="~{comunes/comunes :: footer}"></footer>  
</body>
</html>