<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" >
<head th:replace="comunes/comunes :: head"></head>
<body>
 <div th:insert="~{comunes/comunes :: scripts}"></div>
<div th:replace="comunes/comunes :: navbar"></div>
 <section>
     <div class="container mt-5 pb-5">
        <p class="h4 mb-4 text-center">Articulos Prereservados</p>
      <div class="text-center" th:if="${#lists.isEmpty(pre_reservas)}">
            <p>No hay elementos deseados.</p>
        </div>
         <div th:if="${pre_reservas  != null}">
              <div class="row g-4">
                 <div class="col-md-6 col-lg-3" th:each="item: ${pre_reservas}">
                    <div class="card" id="&{item.habitacion.getId()}">
                        <img class="card-img-top" th:src="@{'/img/' + ${item.habitacion.getImg_url()}}"  alt="" >
                          <div class="card-body text-center"> 
                            <h5 class="card-title mb-3" th:text="${item.habitacion.getTitulo()}"></h5>
                             <h5 class="card-text" th:text="${item.habitacion.getPrecio()}"> EUR</h5>
                            </div>
                        </div>
                        <div class="col-7">
                          <div class="card-body">
                             <a th:href="@{'/pre-presupuesto/elimina-item/{id}' (id=${item.id})}">Eliminar</a>                   
                        </div>
                     </div>   
                   </div>           
                </div>
            </div>
            <hr class="my-3"/>
            <div class="row">
                <div class="col-9 ">
                  <p class="h5 text-right">Total:<span th:text="${#numbers.formatDecimal(pre_presupuesto.obtenerTotal(), 0, 'COMMA', 2, 'POINT')}"></span> EUR</p> 
                </div>
                <div class="col-3">
                    <form action="/presupuesto" method="get" class="ml-3">
                        <div class="form-row">
                            <div class="col-6" th:if="${not #lists.isEmpty(pre_reservas)}">
                                <button class="btn btn-success" >Confirmar Presupuesto</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
      </div>
  </section>
  <script type="text/javascript">
   let i = 1;
   function incrementar(precio, itemID){
	   console.log("incrementar", i);
	  let elem = document.getElementById('itemID');
	  let total = document.getElementById('total');
	  elem.value = ++i;
	  let suma = precio * i;
	  total.innerHTML = String(suma);
   }
   function decrementar(preci){
	   let elem = document.getElementById('qty');
	   let total = document.getElementById('total');
	   elem.value = --i;
	   let suma = precio * i;
	   total.innerHTML = String(suma);
   }
       
  </script>
</body>
</html>
