<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head th:replace="comunes/comunes :: head"></head>
<div th:insert="~{comunes/comunes :: scripts}"></div>
<div th:replace="comunes/comunes :: navbar"></div>
<body>
    <main class="container my-5 vh-100  align-content-center">
    <div class="container mt-5 pb-5">
      
          <div class="row h-100 shadow">
             <div class="col-lg-6 col-md-12 col-sm-12 ">
              <form action="/presupuesto" method="post">
                 <h5  class ="p-3  fw-bold text-center" style="color:#6f42c1;">Procedimiento para El Presupuesto</h5>
                    <br>
                
                    <div class="form-group row mb-4">
                        <label class="col-sm-4 col-form-label fw-bold">Nombre:</label>
                        <div class="col-sm-6">
                            <input type="text" name="nombre" th:value="${presupuesto} ? ${presupuesto.Nombre} : ''"
                                   class="form-control" th:classappend="${nombreError} ? ' is-invalid'" />
                            <div th:if="${nombreError}" class="invalid-feedback" th:text="${nombreError}"></div>
                        </div>
                     </div>
                   
                    <div class="form-group row mb-4">
                        <label class="col-sm-4 col-form-label fw-bold">Теlefono:</label>
                        <div class="col-sm-6">
                            <input type="text" name="telefono" th:value="${presupuesto} ? ${presupuesto.telefono} : ''"
                                   class="form-control" th:classappend="${telefonoError} ? ' is-invalid'" placeholder="ej.915 298 210 o 634 89 06 75"/>
                            <div th:if="${telefonoError}" class="invalid-feedback" th:text="${telefonoError}"></div>
                        </div>
                    </div>
                    
                    <div class="form-group row mb-4">
                      <label class="col-sm-4 col-form-label fw-bold">Email:</label>
                        <div class="col-sm-6">
                            <input type="text" name="email" th:value="${presupuesto} ? ${presupuesto.email} : ''"
                                   class="form-control" th:classappend="${emailError} ? ' is-invalid'" placeholder="ejemplo@email.com"/>
                            <div th:if="${emailError}" class="invalid-feedback" th:text="${emailError}"></div>
                        </div>
                     </div>  
                     
                    <div class="row">
                       <h5 class="fw-bolder text-secondary"> Presupuesto : <span th:text="${#numbers.formatDecimal(prePresupuesto.obtenerTotal(), 0, 'COMMA', 2, 'POINT')}"></span> EUR</h5>
                    </div>
                   <div class="row  py-5">
                     <div class="col">
                       <div class="btn btn-dark w-100 my-1">
						   <div class="row align-items-center">
							   <a  th:href="@{/pre-presupuesto}" style="text-decoration: none; color: white;">Cancelar</a>
							</div>
						</div>
                     </div>
                     <div class="col">
                        <button type="submit" class="btn btn-success w-100 my-1  text-cente"> Confirmar </button>
                        <input type="hidden" name="precioTotal" th:value="${prePresupuesto.obtenerTotal() }"> 
                     </div>
                   </div>
                  </form>
                </div>

                <article class="col-lg-6">
                    <div>
                        <div class="row" th:fragment="list">
                            <div class="col-lg-6 d-flex align-items-stretch" th:each="item : ${presupuestos}">
                                <div class="card mb-5" th:if="${item.habitacion.id}">
                                   <img class="card-img-top rounded mx-auto" style="height: 11rem" th:src="@{'/img/' + ${item.habitacion.getImg_url()}}" alt="Imagines"  >
                                     <div class="card-body text-center">
                                        <h5 th:text="${item.habitacion.titulo}"></h5>
                                        <h6><span th:text="${item.habitacion.precio}"></span>EUROS</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
           
        </div> 
    </div>
</main>
<footer th:insert="~{comunes/comunes :: footer}"></footer>  
</body>
</html>