<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<meta charset="utf-8"/>
<head th:replace="comunes/comunes :: head">
<link rel="stylesheet"  type="text/css"  th:href="@{/css/dashboard.css}"/>
</head>
<div th:insert="~{comunes/comunes :: scripts}"></div>
<body class="d-flex flex-column min-vh-100">


 <main class="d-flex " style="overflow-x: hidden; min-width: 100vh;">
         <div th:replace="comunes/comunes :: usuarioNavbar"></div>
<!-- -end of sidebar -->
    
 <div class="page-content-wrapper flex-fill  container-md"> 
   <div class="row my-5">
     <h3 class="fs-4 mb-3  m-2 success-50">Lista Recursos</h3>
       <div class="col shadow">
      <table  class="table table-secondary table-striped-rounded shadow-sm table-hover m-2">
     <thead class="table-success">
       <tr>
      	<th>ID</th>
        <th>Nombre</th>
        <th>Tipo</th>
        <th>Precío</th>
        <th>Opciones</th>
      </tr>
    </thead>
       <div th:if="${#lists.isEmpty(page.getContent())}">
            <h2>No hay Datos en su Base de datos</h2>
        </div>
    <tbody  id="tabla-recursos" th:each="item: ${page.getContent()}">
      <tr>
        <td th:text="${item.id}"></td>
        <td th:text="${item.titulo}"></td>
        <td th:text="${item.tipo}"></td>
        <td th:text="${item.precio}"></td>
        <td>
            <button class="btn btn-success btn-sm" data-bs-toggle="modal" th:attr = "data-bs-target=${'#editarRecurso' + item.id}">
            <i class="bi bi-pencil-square white  p-2" ></i></button>
            
      <!---------------------------- Modal-------------------------- -->
    <div class="modal fade" th:id="${'editarRecurso' + item.id }" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title fw-bold" id="exampleModalLabel" style="color: #6f42c1;">Editar Recurso</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <section class="modal-body">
                   <form th:action="@{/usuario/actualizar_recurso}"  method="post">
                       <div class="form-group row mb-4">
                         <label class="col-sm-4 col-form-label  fw-bold text-secondary">ID: </label>
                           <div class="col-sm-6">
								<input type="text"  id="title" name="id" th:value ="${item.getId()}"  class="form-control" readonly />
							</div>
                       </div>
						<div class="form-group row mb-4">
						  <label class="col-sm-4 col-form-label  fw-bold text-secondary">Nombre: </label>
							 <div class="col-sm-6">
								<input type="text"  id="title" name="titulo" th:value ="${item.getTitulo()}" placeholder="Nombre de habitacion"  class="form-control" />
							</div>
						</div>
						<div class="form-group row mb-4">
						  <label class="col-sm-4 col-form-label  fw-bold text-secondary">Categoría: </label>
							 <div class="col-sm-6">
								<select id="type" name="tipo" class="form-select">
									<option selected th:text="${item.getTipo()}"></option>
									<option th:value="salon">SALON</option>
									<option th:value="cocina">COCINA</option>
									<option th:value="pasillo">PASILLO</option>
									<option th:value="matrimonio">MATRIMONIO</option>
									<option th:value="dormitorio">DORMITORIO</option>
								</select>
							</div>
						</div>
						<div class="form-group row mb-4">
						  <label class="col-sm-4 col-form-label  fw-bold text-secondary">Precio: </label>
							 <div class="col-sm-6">
								<input  type="text" name="precio" id="price" th:value="${item.getPrecio()}" placeholder="Precio habitacion" class="form-control" />
								<div ><span  id="basic-addon1"></span></div>
							</div>
						</div>
                        <div class="form-group row mb-4">
						  <label class="col-sm-4 col-form-label  fw-bold text-secondary">Descripcion: </label>
							 <div class="col-sm-6">
								<textarea  class="form-control col-sm-8"  name="descripcion"  th:text ="${item.getDescripcion()}"  rows="3" ></textarea>
							</div>
						</div>
                        <div class="form-group row mb-4">
						  <label class="col-sm-4 col-form-label  fw-bold text-secondary">Fichero: </label>
							<div class="col-sm-6">
								<input class="btn btn-secondary w-70" id="file"  style="position: absolute;" th:placeholder="${item.getImg_url()}"/> 
								<input type="file" name="fichero" style="opacity: 0; z-index: 1;"
									               onchange="document.getElementById('file').value = this.value;"/>
							</div>
						</div>	
                   <div class="modal-footer">
                     <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                         <input type="hidden"  name="habitacionId">
                     <button type="submit" class="btn btn-success">Actualizar</button>		
                 </div>
               </form>
              </section>  
            </div>
        </div>
    </div>
    <!-- ---FIn Modal -->
           <a th:href="@{/usuario/articulosList/borrar/{id}(id=${item.id})}" 
              onclick="return confirm('Estas seguro de que quieres borrar este recurso de la Base de Datos?')" class="badge bg-danger">DELETE </a>
           </td>
       </tr>
      </tbody>
     </table>
      <hr/>
           <div th:insert="comunes/comunes :: pagination"></div>
       </div>
   </div>
   </div>  
  </main>    
  
  <footer th:insert="~{comunes/comunes :: footer}"></footer>
 </body>
</html>