<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head th:replace="comunes/comunes :: head">
<link rel="stylesheet"  type="text/css"  th:href="@{/css/dashboard.css}"/>
</head>
<div th:insert="~{comunes/comunes :: scripts}"></div>
<body class="d-flex flex-column min-vh-100">


 <main class="d-flex " style="overflow-x: hidden; min-width: 100vh; background-image: linear-gradient(
    to right,
    #baf3d7,
    #c2f5de,
    #ddfeef,
      #baf3d7,
  );">
  <div th:replace="comunes/comunes :: usuarioNavbar"></div>
         
 <!-- -Table --> 
   <div class="page-content-wrapper flex-fill  container-md shadow"> 
   <div class="row my-5">
     <h3 class="fs-4 mb-3  m-2 success-50"><i class="bi-reception-4 " style="width: 8rem;"></i>Presupuestos </h3>
       <div class="col-secondary">
      <table  class="table table-secondary table-rounded shadow-sm table-hover m-2">
     <thead class="table-success">
         <tr>
            <th scope="col">Fecha</th>
            <th scope="col">Nombre</th>
            <th scope="col">Email</th>
            <th scope="col">Telefono</th>
            <th scope="col">Presupuesto</th>
            <th scope="col">ID - Habitacion</th>
            <th scope="col">Estado</th>
             <th scope="col">Aciones</th>
            <th scope="col"></th>
        </tr>
        </thead>
           <div th:if="${#lists.isEmpty(page.getContent())}">
            <h2>No hay Datos en su Base de datos</h2>
          </div>
        <tbody th:each="item : ${page.getContent()}">
        <tr>
            <th th:text="${item.fechaPresupuesto}"></th>
            <th th:text="${item.nombre}"></th>
            <th th:text="${item.email}"></th>
            <th th:text="${item.telefono}"></th>
            <th th:text="${item.precioTotal}"></th>
            <th>
                <div th:each="it : ${item.getItemsReserva()}">
                    <p th:text="${it.habitacion.id}"></p>
                </div>
            </th>
            <th th:text="${item.estado}"></th>
            <th>
            <button class="btn btn-success btn-sm" data-bs-toggle="modal" th:attr = "data-bs-target=${'#estado' + item.id}"><i class="bi bi-pencil-square white  p-2" ></i></button>
          <!-------   -Modal para editar estado ------>
           <div class="modal fade" th:id="${'estado' + item.id}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modifica el Estado del Presupuesto</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                 </div>
                <div class="modal-body">
                   <form action="/usuario/presupuesto-editar" method="post" >
                       <div class="mb-3">
                           <label for="Email" class="col-form-label" >Email cliente: </label>
                           <label for="EmailCliente" class="col-form-label" th:text="${item.getEmail()}"></label>
                       </div>
                    <div class="mb-3">
                       <label for="Estado"   class="col-form-label" > Estado actual Presupuesto:</label>
                         <label for="EstadoPresupuesto"   class="col-form-label" th:text="${item.getEstado()}" style="color: green;"></label>
                          <div  th:each="estado : ${estados}">
                         <input id="estadoCheck" type="checkbox"  th:name="${estado}" th:text="${estado}" th:checked="${#lists.contains(item.estado, estado)}">
                      </div>
                    </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                       <input type="hidden" th:value="${item.getId()}" name="presupuestoId">
                    <button type="submit" class="btn btn-primary">Registrar</button>
                </div>
                </form>
                </div> 
              </div>
          </div>
        </div>
                <!------ -----------------------Fin Modal ------------------->
                
          <a th:href="@{/usuario/eliminar?id=} + ${item.getId()}" 
            onclick="return confirm('Estas seguro de que quieres borrar esta reserva de la Base de Datos?')" class="btn btn-danger btn-sm"><i class="bi bi-trash white p-2"></i></a>      
          </th>
        </tr>
        </tbody>
     </table>
      <hr/>
        <div th:insert="~{comunes/comunes :: pagination}"></div>
       </div>
      </div>
    </div>
 </main>   
  <footer th:insert="~{comunes/comunes :: footer}"></footer>

 </body>
</html>
