<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="comunes/comunes :: head"></head>
<div th:insert="~{comunes/comunes :: scripts}"></div>

<body class="d-flex flex-column min-vh-100">

 <main  class="d-flex" style="overflow-x: hidden; min-width: 100vh; background-image: linear-gradient(45deg, #b6b5ff, #ff9797)">
   <div th:replace="comunes/comunes :: usuarioNavbar"></div>
   <!-- -Table --> 
   <div class="page-content-wrapper flex-fill container-md"> 
   <div class="row my-5">
     <h3 class="fs-4 mb-3  m-2 success-50"><i class="fs-4 bi-people-fill success h2"></i> Lista Usuarios </h3>
       <div class="col">
      <table  class="table table-light table-striped-rounded shadow-sm table-hover m-2">
     <thead class="table-dark">
         <tr>
            <th scope="col">ID</th>
            <th scope="col">Nombre</th>
            <th scope="col">Email</th>
            <th scope="col">Permisos</th>
            <th scope="col">Opciones</th>
          </tr>
         </thead>
           <div th:if="${#lists.isEmpty(page.getContent())}">
            <h2>No hay Datos en su Base de datos</h2>
          </div>
        <tbody th:each="usuario : ${page.getContent()}">
        <tr>
            <th th:text="${usuario.id}"></th>
            <th th:text="${usuario.username}"></th>
            <th th:text="${usuario.email}"></th>
            <th>
                <div th:each="usuarioRole : ${usuario.getRoles()}">
                    <p th:text="${usuarioRole}"></p>
                </div>
             <!-------   -Modal para editar role ------>
           <div class="modal fade" th:id="${'usuario' + usuario.id}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modifica el Rol del Usuario</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                 </div>
                <div class="modal-body">
                   <form action="/usuario/roles" method="post" >
                       <div class="mb-3">
                           <label for="Email" class="col-form-label" >Email cliente: </label>
                           <label for="EmailCliente" class="col-form-label" th:text="${usuario.getEmail()}"></label>
                       </div>
                    <div class="mb-3">
                       <label for="Estado"   class="col-form-label" > Rol actual del Usuario:</label>
                         <label for="Rol"   class="col-form-label" th:text="${usuario.getRoles()}" style="color: green;"></label>
                          <div  th:each="usuarioRole : ${roles}">
                         <input id="estadoCheck" type="checkbox"  th:name="${usuarioRole}" th:text="${usuarioRole}" th:checked="${#lists.contains(usuario.roles, usuarioRole)}">
                      </div>
                    </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                       <input type="hidden" th:value="${usuario.getId()}" name="usuarioId">
                    <button type="submit" class="btn btn-primary">Confirmar</button>
                </div>
                </form>
                </div> 
              </div>
          </div>
        </div>
          </th>
          <th> 
           <button class="btn btn-success btn-sm" data-bs-toggle="modal" th:attr = "data-bs-target=${'#usuario' + usuario.id}"><i class="bi bi-pencil-square white  p-2" ></i></button>
           <a th:href="@{/usuario/usuarios/{path} (path = ${usuario.getId()})}"
            onclick="return confirm('Estas seguro de que quieres borrar esta reserva de la Base de Datos?')" class="btn btn-danger btn-sm"><i class="bi bi-trash white p-2"></i></a>
          </th>
        </tr>
        </tbody>
     </table>
    
        <div th:insert="~{comunes/comunes :: pagination}"></div>
       </div>
      </div>
    </div>
 </main>  

<footer th:insert="~{comunes/comunes :: footer}"></footer>
</body>
</html>