<!--Header-->
<head th:fragment="head" xmlns:th="http://www.thymeleaf.org" >
    <title>Servicios</title>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<!-- links  -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <link rel="stylesheet" type="text/css" th:href="@{css/style.css}"/>
</head>


<!--Scripts-->
<div th:fragment="scripts" xmlns:th="http://www.thymeleaf.org">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    
</div>
<!--Navbar-->
<div th:fragment="navbar" xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
    <!-- - -->
    
    <nav class="navbar navbar-expand-lg bg-dark navbar-dark py-3 fixed-top" >
        <div class="container">
            <a href="#" class="navbar-brand">e-reforma</a>
            <!--Burgger-->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navmenu">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navmenu">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a href="/home" class="nav-link">Home</a>
                    </li>
                    <li class="nav-item">
                        <a href="/catalogo" class="nav-link">Catalogo</a>
                    </li>
                    <li class="nav-item">
                        <a href="/usuario/gestion" class="nav-link">Gestion</a>
                    </li>
                    <li class="nav-item">
                        <a href="/usuario/preReserva" class="nav-link">Reservas</a>
                    </li>
                    <li class="nav-item">
                        <a href="/salir" class="nav-link">Salir</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

   
    
   <!--  
    <div class="container-fluid bg-dark">
        <nav class="navbar navbar-expand-md bg-black text-white" style="font-size: 18px" >
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav  ms_auto">
                    <li class="nav-item">
                        <a class="nav-link text-light pl-5 pr-5" href="/home">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light pl-5 pr-5" href="/catalogo">Galeria</a>
                    </li>
                    <li >
                    <a class="nav-link text-light mx-3" href="/usuario/gestion">Gestion</a>
                  </li>
                  <li >
                     <span sec:authentication="name"></span>
          			 <a class="nav-link text-light mx-3" href="usuario/preReserva">Sus Reservas</a>
       			 </li>
                </ul>
                

                <ul class="navbar-nav ml-auto">
                   <li>
                    <form class="form-inline d-flex justify-content-center md-form form-sm mr-3" action="/buscar"  method="get" >
                        <input class="form-control form-control-sm mr-3 w-75 rounded-0" type="text" name="filtro" placeholder="buscar" aria-label="Buscar" />
                        <button type="submit" class="bg-dark"><i class="fas fa-search fa-1x" aria-hidden="true" style="color:white"></i></button>
                    </form>
                    </li>   
                    <li class="nav-item" sec:authorize="isAnonymous()">
                        <a class="nav-link text-light " href="/reservas">Identificate</a>
                    </li>
                    <li sec:authorize="isAuthenticated()">
                      <a class="nav-link text-light " href="/logout">Salir</a>
                   </li>     
                </ul> 
            </div>
        </nav>
    </div>--> 
</div>

<!--Usuario navbar-->
<nav th:fragment="userNavbar" class="navbar navbar-expand-lg navbar-dark bg-dark" xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <ul class="navbar-nav">
        
        <li class="nav-item" >
            <a class="nav-link text-light mx-3" href="/reservas">Sus Rservas</a>
        </li>
    </ul>

    <ul class="navbar-nav" >
        <li class="nav-item active">
            <a class="nav-link text-light mx-3" href="/usuario/usuarios">Usuarios</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-light mx-3" href="/reserva/reservas">Lista de Reservas</a>
        </li>
        
        <li class="nav-item">
            <form action="/user/add" method="get">
                <a class="nav-link text-light mx-3" th:href="@{/usuario/crea_recurso}">Crear Recurso</a>
            </form>
        </li>
        <li class="nav-item">
            <form action="/user/productlist" method="get">
                <a class="nav-link text-light mx-3" href="/usuario/articulosList">Lista de Articulos</a>
            </form>
        </li>
    </ul>
</nav>


<!--Paginacion-->
<div th:fragment="pagination" xmlns:th="http://www.thymeleaf.org">
    <ul class="pagination">
        <li class="page-item disabled">
            <a class="page-link " href="#" tabindex="-1">Pagina</a>
        </li>
        <th:block th:each="i : ${pagina}">
            <th:block th:if="${i - 1 == page.getNumber()}">
                <li class="page-item active">
                    <a class="page-link bg-dark border-dark" href="#" th:text="${i}"></a>
                </li>
            </th:block>

            <th:block th:if="${i != -1 and i - 1 != page.getNumber()}">
                <th:block th:if="${!url.contains('buscar')}">
                    <li class="page-item active">
                        <a class="page-link text-dark" th:href="${url + '?page=' + (i - 1)+ '&size=' + page.getSize()}"
                           th:text="${i}"></a>
                    </li>
                </th:block>
                <th:block th:if="${url.contains('buscar')}">
                    <li class="page-item">
                        <a class="page-link text-dark" th:href="${url + '&page=' + (i - 1)+ '&size=' + page.getSize()}"
                           th:text="${i}"></a>
                    </li>
                </th:block>
            </th:block>

            <th:block th:if="${i == -1}">
                <li class="page-item disabled">
                    <a class="page-link text-dark" href="#">...</a>
                </li>
            </th:block>

        </th:block>
   

        <li class="page-item disabled ml-5">
            <a class="page-link text-dark" href="#" tabindex="-1">Elementos en la Pagina</a>
        </li>
        <th:block th:each="c : ${#numbers.sequence(4, 12, 6)}">
            <th:block th:if="${c} == ${page.getSize()}">
                <li class="page-item active">
                    <a class="page-link bg-dark border-dark" href="#" th:text="${c}"></a>
                </li>
            </th:block>

            <th:block th:unless="${c} == ${page.getSize()}">
                <th:block th:if="${!url.contains('buscar')}">
                    <li class="page-item">
                        <a class="page-link text-dark" th:href="${url + '?page=' + page.getNumber()+ '&size=' + c}"
                           th:text="${c}"></a>
                    </li>
                </th:block>
                <th:block th:if="${url.contains('buscar')}">
                    <li class="page-item">
                        <a class="page-link text-dark" th:href="${url + '&page=' + page.getNumber()+ '&size=' + c}"
                           th:text="${c}"></a>
                    </li>
                </th:block>
            </th:block>
        </th:block>
    </ul>
</div>


<!--Footer-->

  <footer class="p-5 bg-dark text-white text-center position-relative" th:fragment="footer" xmlns:th="http://www.thymeleaf.org" >
     <section class="p-5">
         <div class="container">
             <div class="row g-4">
                 <div class="col-md bg-dark text-light">
                     <h2 class="text-center  mb-4">Contactos</h2>
                     <ul class="list-group list-grup-flush lead">
                         <li class="list-group-item">
                             <span class="fw-bold">Nos encontramos aqui:</span> 20 Mesa de Monte 28860 Miramadrid Spain
                         </li>
                        <li class="list-group-item">
                            <span class="fw-bold">Llamanos:</span> 9156234567, 638977561
                        </li>
                     </ul>
                 </div>
                 <div class="col-md">
                   <div  id="map" style="width: 100%; height:100%; border-radius: 10px;">Map</div>
                 </div>
             </div>
         </div>
     </section>
         <div class="container">
             <div class="lead">Copyright &copy; 2021 eco-reforma</div>
             <a href="#" class="position-absolute bottom-0 end-0 p-5"><i class="bi bi-arrow-up-circle h1"></i></a>    
         </div>
          <script src='https://api.mapbox.com/mapbox-gl-js/v2.3.1/mapbox-gl.js'></script>
           <script>
          mapboxgl.accessToken = 'pk.eyJ1IjoiZG9scGhpbjIzIiwiYSI6ImNrcmNjaGk0eDAzMTEzMW9lOWlwYzBiencifQ.vKRrJ4vNC6Uy5De5sQAV9Q';
          var map = new mapboxgl.Map({
            container: 'map',
            style: 'mapbox://styles/mapbox/streets-v11',
            center: [-3.5138073, 40.5025103],
            zoom:14
        });
    </script>
     </footer>
