<!--Header-->
<head th:fragment="head" lang="es" xmlns:th="http://www.thymeleaf.org" >
    <title>Servicios</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
 <!-- links  -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" />
    <link rel="stylesheet"  type="text/css"  th:href="@{css/style.css}"/>

</head>


<!--Scripts-->
<div th:fragment="scripts" lang="es" xmlns:th="http://www.thymeleaf.org">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>  
</div>
<!--Navbar-->
<div th:fragment="navbar" lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
    <nav class="navbar navbar-expand-lg bg-dark navbar-dark py-3 fixed-top" >
        <div class="container">
            <a href="#" class="navbar-brand text-uppercase fw-bold mb-2">eco-reforma</a>
            <!--Burgger-->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navmenu">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-around" id="navmenu">
                <ul class="navbar-nav justify-content-around">
                    <li class="nav-item">
                        <a href="/home" class="nav-link fw-bolder text-info">Home</a>
                    </li>
                    <li class="nav-item">
                        <a href="/catalogo" class="nav-link fw-bolder text-info">Catalogo</a>
                    </li>
                    <li class="nav-item" sec:authorize="hasAuthority('ADMIN')">
                        <a href="/usuario/gestion" class="nav-link fw-bolder text-info">Gestión</a>
                    </li>
                     <li class="nav-item" sec:authorize="hasAuthority('USER')">
                        <a href="/usuario/mis_presupuestos" class="nav-link fw-bolder text-info">Mis-Presupuestos</a>
                    </li>
                    <li class="nav-item" sec:authorize="isAnonymous()">
                        <a href="/pre-presupuesto" class="nav-link fw-bolder text-info">Identificate</a>
                    </li>
                    <li>
                    <form class="form-inline d-flex justify-content-center md-form form-sm mr-3" action="/buscar"  method="get" >
                        <input class="form-control form-control-sm mr-3 w-100 rounded-0" type="text" name="filtro" placeholder="buscar" aria-label="Buscar" />
                        <button type="submit" class="bg-dark"><i class="be bi-search h4 white" style="color:white"></i></button>
                    </form>
                    </li>  
                </ul>
                <ul class="navbar-nav justify-content-end">
                 <li class="nav-item ms-5" >
                        <a href="/pre-presupuesto" class="nav-link fw-bolder text-light"><i class="bi bi-heart-fill h5" style="color:red"></i> Tus Favoritos</a>
                   </li>
                   <li class="nav-item " sec:authorize="isAuthenticated()">
                        <a href="/salir" class="nav-link fw-bolder"><i class="bi-box-arrow-right h4" style="color:white"></i></a>
                   </li>  
                 </ul> 
            </div>
        </div>
    </nav>
</div>
 
<!-- Admin -->   
<div th:fragment="usuarioNavbar" lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5" class=" bg-dark ">

        <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark">
            <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
                <a href="/usuario/gestion" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                    <i class="fas fa-user-secret me-2"></i> <span class="fs-5 d-none d-sm-inline">Admin</span>
                </a>
                <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                    <li class="nav-item">
                        <a href="/home" class="nav-link align-middle px-0 text-white">
                            <i class="fs-4 bi-house white"></i> <span class="ms-1 d-none d-sm-inline white">Home</span>
                        </a>
                    </li>
                     <li>
                        <a href="/usuario/presupuestos" class="nav-link px-0 align-middle text-white">
                            <i class="fs-4 bi-table white"></i> <span class="ms-1 d-none d-sm-inline white">Presupuestos</span></a>
                    </li>
                    <li>
                        <a href="#submenu3" data-bs-toggle="collapse" class="nav-link px-0 align-middle text-white">
                            <i class="fs-4 bi-grid white"></i> <span class="ms-1 d-none d-sm-inline white">Recursos</span> </a>
                            <ul class="collapse nav flex-column ms-1" id="submenu3" data-bs-parent="#menu">
                            <li class="w-100">
                                <a href="/usuario/articulosList" class="nav-link px-0 text-success">Lista Recursos</a>
                            </li>
                            <li>
                                <a th:href="@{/usuario/crea_recurso}" class="nav-link px-0 text-success">Crear Recurso</a>
                            </li>
                        </ul>
                     </li>
                    <li>
                        <a href="/usuario/usuarios" class="nav-link px-0 align-middle text-white">
                            <i class="fs-4 bi-people white"></i> <span class="ms-1 d-none d-sm-inline white">Usuarios</span> </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

<!--Paginacion-->
<div th:fragment="pagination" lang="es" xmlns:th="http://www.thymeleaf.org" class="m-3">
    <ul class="pagination ">
        <li class="page-item disabled">
            <a class="page-link " href="#" tabindex="-1">Pagina</a>
        </li>
        <th:block th:each="i : ${pagina}">
            <th:block th:if="${i - 1 == page.getNumber()}">
                <li class="page-item active">
                    <a class="page-link bg-dark border-dark" href="#" th:text="${i}"></a>
                </li>
            </th:block>

            <th:block th:if="${i != -1 and i - 1 != page.getNumber()}">
                <th:block th:if="${!url.contains('buscar')}">
                    <li class="page-item active">
                        <a class="page-link text-dark" th:href="${url + '?page=' + (i - 1)+ '&size=' + page.getSize()}"
                           th:text="${i}"></a>
                    </li>
                </th:block>
                <th:block th:if="${url.contains('buscar')}">
                    <li class="page-item">
                        <a class="page-link text-dark" th:href="${url + '&page=' + (i - 1)+ '&size=' + page.getSize()}"
                           th:text="${i}"></a>
                    </li>
                </th:block>
            </th:block>

            <th:block th:if="${i == -1}">
                <li class="page-item disabled">
                    <a class="page-link text-dark" href="#">...</a>
                </li>
            </th:block>

        </th:block>
   

        <li class="page-item disabled ml-5 ">
            <a class="page-link text-dark" href="#" tabindex="-1">Elementos en la Pagina</a>
        </li>
        <th:block th:each="c : ${#numbers.sequence(4, 12, 6)}">
            <th:block th:if="${c} == ${page.getSize()}">
                <li class="page-item active">
                    <a class="page-link bg-dark border-dark" href="#" th:text="${c}"></a>
                </li>
            </th:block>

            <th:block th:unless="${c} == ${page.getSize()}">
                <th:block th:if="${!url.contains('buscar')}">
                    <li class="page-item">
                        <a class="page-link text-dark" th:href="${url + '?page=' + page.getNumber()+ '&size=' + c}"
                           th:text="${c}"></a>
                    </li>
                </th:block>
                <th:block th:if="${url.contains('buscar')}">
                    <li class="page-item">
                        <a class="page-link text-dark" th:href="${url + '&page=' + page.getNumber()+ '&size=' + c}"
                           th:text="${c}"></a>
                    </li>
                </th:block>
            </th:block>
        </th:block>
    </ul>
</div>


<!--Footer-->
<footer class="bg-dark text-center text-white position-relative" th:fragment="footer" lang="es" xmlns:th="http://www.thymeleaf.org">
  <section  class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
    <!-- Left -->
    <div class="me-5 d-none d-lg-block">
      <span>Estamos en redes sociales:</span>
    </div>
    <!-- Left -->

    <!-- Right -->
    <div>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-facebook-f"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-twitter"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-instagram"></i>
      </a>
    </div>
    <!-- Right -->
  </section>
  <!-- Section: Social media -->

  <!-- Section: Links  -->
  <section class="">
    <div class="container text-center text-md-start mt-5">
      <!-- Grid row -->
      <div class="row mt-4">
        <!-- Grid column -->
        <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
          <!-- Content -->
          <h6 class="text-uppercase fw-bold mb-4">
            <i class="fas fa-gem me-3"></i>Eco - Reforma
          </h6>
          <p>
            Realizar una reforma de vivienda no suele ser una decisión sencilla. Reformar nuestro hogar, de forma parcial o integral,
             significa tanto una inversión de dinero como de esfuerzo. Por ello, es fundamental saber en quién depositar nuestra confianza,
             para obtener la mayor garantía, responsabilidad y profesionalidad que nos garantice el éxito final de nuestro proyecto.
          </p>
        </div>
        <!-- Grid column -->
    
        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            Contact
          </h6>
          <p><i class="fas fa-home me-3"></i>2860, Miramadrid, España</p>
          <p>
            <i class="fas fa-envelope me-3"></i>
            ecoreforma@gmail.com
          </p>
          <p><i class="fas fa-phone me-3"></i>91 567 88</p>
          <p><i class="fas fa-print me-3"></i>654 78 96 77 </p>
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </div>
  </section>
  
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2021 Copyright:
    <a class="text-white" href="#">eco-reforma.es</a>
     <a href="#" class="position-absolute bottom-0 end-0 p-5"><i class="bi bi-arrow-up-circle h1" style="color:white;"></i></a> 
  </div>
</footer>
