<div th:fragment="login(path)" lang="es" xmlns:th="http://www.thymeleaf.org" >
<meta charset="utf-8"/>
 <div class="row h-100 shadow" >
   <div class="col-lg-6" style="background-image: url(../../img/user.svg); background-position: center center;  object-fit: cover;">
   <img  th:src="@{'./../img/user.svg'}"  alt=""  class="card-img w-25" >
   </div>
   <div class="col-lg-6 col-md-12 col-sm-12 ">
      <form method="post" th:attr="action=${path}" > 
          <div class="card-title text-center"  >
            <h3  class ="p-3  fw-bold" style="color:#6f42c1;" th:text="${path} == '/registro' ? 'Registrate' : 'Login'"></h3>
            <hr class=" fw-bold"/>
            <div class="form-group row mb-4" th:if="${path} == '/registro'"  >
                <label class="col-sm-4 col-form-label fw-bold">Nombre: </label>
                <div class="col-sm-6">
                    <input type="text" name="username"  th:value="${usuario} ? ${usuario.username} : ''" class="form-control"  th:classappend="${usernameError} ? ' is-invalid'" />
                    <div th:if="${usernameError}" class="invalid-feedback" th:text="${usernameError}"></div>
                 </div>
            </div>

            <div class="form-group row mb-4" >
                <label class="col-sm-4 col-form-label  fw-bold" >Correo electronico: </label>  
                  <div class="col-sm-6">
                    <input  name="email"  th:value="${usuario} ? ${usuario.email} : ''" class="form-control"
                          th:classappend="${emailError} ? ' is-invalid'"/>
                    <div th:if="${emailError}" class="invalid-feedback" th:text="${emailError}"></div>
                </div>
            </div>

            <div class="form-group row mb-4">
                <label class="col-sm-4 col-form-label  fw-bold">Contraseña: </label>
                <div class="col-sm-6">
                    <input type="password" name="password" class="form-control"
                           th:classappend="${passwordError} ? ' is-invalid'"/>
                    <div th:if="${passwordError}" class="invalid-feedback" th:text="${passwordError}"></div>
                </div>
            </div>

            <div class="form-group row mb-4" th:if="${path} == '/registro'">
                <label class="col-sm-4 col-form-label  fw-bold">Comprobar contraseña: </label>
                <div class="col-sm-6">
                    <input type="password" name="password2" class="form-control"
                           th:classappend="${password2Error} ? ' is-invalid'"/>
                   <div th:if="${password2Error}" class="invalid-feedback" th:text="${password2Error}"></div>
                </div>
            </div>

         <div class="row  py-5">
           <div class="col">
            <button class="btn btn-dark w-100 my-1  text-cente" >
              <div class="rowr" th:text="${path} == '/registro' ? 'Registrate' : 'Loggeate'"> 
             </div>
            </button>
          </div>
        <div class="col" th:if="${path} != '/registro'">
         <div class="btn btn-dark w-100 my-1" >
            <div class="row align-items-center"> 
               <a th:href="@{/registro}" style="text-decoration:none; color:white;" >Registrate</a>
             </div>
            </div>
          </div>
          
         </div>
        </div>
      </form>
    </div>
   </div>
</div>