/*** Dashboard***/
body{
	background-color: green;
}
.d-flex {
  overflow-x: hidden;
  min-width: 100vh;
  background-image: linear-gradient(
    to right,
    #baf3d7,
    #c2f5de,
    #cbf2e4,
    #d4f5ec,
    #ddfeef
  );
}