*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body::before {
  display: block;
  content: "";
  height: 60px;
 
}

main .d-flex{
  overflow-x: hidden;
  background-image: linear-gradient(
    to right,
    #baf3d7,
    #c2f5de,
    #cbf2e4,
    #d4f5ec,
    #ddfeef
  );
}